<div class="row">
  <div class="col-md-5">
    <h2>Messages</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let message of messages"
        (click)="selectMessage(message)"
        [class.active]="message === selectedMessage">
        {{message.text}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewMessage()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <message-details
      [message]="selectedMessage"
      [createHandler]="addMessage"
      [deleteHandler]="deleteMessage">
    </message-details>
  </div>
</div>